* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

h1 {
    color: #2B2B2B;
}

.game-container {
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 50vw;
    border: solid 2px #9B1C1C;
    border-radius: 15px;
    background-color: #D62828;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 100vw;
    background-color: #2B2B2B;
    margin-top: auto;
}

.grid {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    padding: 20px 20px 10px 20px;
}

.grid > div {
    background-color: #D9D9D9;
    border: 2px solid #C2C2C2;
}